@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  background: #f4f6f8;
  color: #101418;
}

button,
a,
input,
select {
  -webkit-tap-highlight-color: transparent;
}
